#navbar{
    display: flex;
    justify-content: space-around;
    width:100%;
    background-color:pink;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 90px;
    height: 50px;
    padding: 15px;            
}
#samnav{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 30px;
}
#samnav:hover{
    color: red;
}
#body{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin-top: auto;

}
.dcard{
    margin-top: 150px;
    height: 300px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: center;
    border-radius: 10px;
    margin-left: 5%;
}
.dcard:hover{
    transform: scale(1.02);
    transition: 2s;
}
.dcard img{
    border-radius: 50%;
   
}
.dcard p{
    
font-family: sans-serif;
}
#register{
margin-top: 70px;
  height:50px;
  position: fixed;
   text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    gap: 20px;
    width: 100%;

}
#register h1{
   
    color: white ;
}
